body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-image: url('/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffffa1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajuste para dispositivos menores (exemplo: smartphones) */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}


h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

#character-search-form {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#character-search-form input[type="text"],
#character-search-form select {
    padding: 5px;
    margin-right: 10px;
}

#character-search-form button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

#character-list {
    list-style: none;
    padding: 0;
}

#character-list li {
    background-color: #ffffffa5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

#pagination {
    text-align: center;
}

#character-details {
    background-color: #ffffff00;
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    margin: 20px 0;
}

.container {
    margin-top: 20px;
}

.card {
    background-color: #ffffffa5;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #ffffff00;
}

img {
    width: 100%;
    max-width: 100px;
    border-radius: 100%;
    border: 1px solid rgb(56, 56, 56);
}

.card-img {
    width: 100%;
    max-width: 200px;
    border: 1px solid rgb(56, 56, 56);
}